body{
  margin: 0;
  padding: 0;
}

header{
  background-color:#F55A5A;
  color: white;
  padding: .75em 0;
  text-align: center;
  font-size: x-large;
}

.attrib{
  display: none;
}

.card{
  margin: 3em;
  display: flex;
}

.card img{
  max-width: 500px;
  margin-right: 3em;
}